* {
    font-family: 'Handlee', cursive;
}

a {
    font-size: 2vw;
    font-weight: bolder;
    color: white;
}

span {
    margin: 5px;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}

strong {
    font-weight: bold;
}

body, h1, h2, h3, h4, h5, div, head, p, ol, table, label ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

caption, th {
    text-align: left;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}

body {
    font-family: arial, helvetica;
    color: #F2F2F2;
}

p {
    font-size: 2%;
}

.content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.iatcontent {
    position: relative;
    margin: 1vw;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
    width: 100%;
    height: 500px;
}

.biasButton {
    background-color: #0f2147;
    border-radius: 0.5vw;
    text-align: center;
    color: #ffffff;
    padding: 5px;
    font-size: 1.5vw;
}

.runButton {
    background-color: #e7ebee;
    border-radius: 0.5vw;
    text-align: center;
    color: #505050;
    padding: 5px;
    font-size: 2.5vw;
}

.goButton {
    background-color: #e4ba2a;
    border-radius: 0.5vw;
    text-align: center;
    color: #ffffff;
    padding: 5px;
    font-size: 1.5vw;
}

.question {
    padding-bottom: 10px;
    margin-top: 3vw;
    margin-bottom: 3vw;
    margin-left: 5vw;
    margin-right: 5vw;
    border: 0.2vw;
    border-style: dashed;
}

//*pre css*//

/* Section 0
 * --------------------------------------- */

#section0 {
    background-color: #707070;
}

#section0 h1 {
    color: #ffffff;
    font-size: 48px;
    font-size: 5vw;
    text-shadow: 2px 2px #8b8b8b;
    padding-top: 150px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

#section0 p {
    color: #ffffff;
    font-size: 28px;
    font-size: 2vw;
    opacity: 0.4;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}


/* Section 1
 * --------------------------------------- */

#section1 {
    background-color: #de9b2b;
}

#section1 h1 {
    opacity: 0.8;
    color: #fff;
}

#section1 p {
    font-size: 48px;
    font-size: 5vw;
    display: inline-block;
    float: left;
    padding-top: 20px;
    width: 50%;
}

#section1 li {
    font-size: 72px;
    font-size: 6vw;
    display: none;
}

#section1 .active {
    display: inline;
}


/* Section 2
 * --------------------------------------- */

#section2 {
    background-color: #ebcd91;
}

#section2 h1 {
    color: #ffffff;
    font-size: 28px;
    font-size: 3vw;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
}

#section2 p {
    color: #ffffff;
    font-size: 28px;
    font-size: 2vw;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
}

#section2 label {
    color: #ffffff;
    border: 1px;
    border-color: #ffffff;
    font-size: 24px;
    font-size: 2vw;
    text-align: left;
}


/* section3 */

#section3 {
    background-color: #50b8c1;
    text-align: center;
}

#section3 h1 {
    color: #909090;
}

#section3 p {
    color: #ffffff;
    text-shadow: 0.1vw 0.1vw #8b8b8b;
    padding-top: 1vw;
    font-size: 3vw;
}


/* section4 */

#section4 {
    background-color: #0f2147;
}

#section4 h1 {
    color: #ffffff;
    font-size: 3vw;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
}

#section4 p {
    color: #ffffff;
    font-size: 28px;
    font-size: 2vw;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
}

#section4 label {
    color: #ffffff;
    border: 1px;
    border-color: #ffffff;
    font-size: 24px;
    font-size: 2vw;
    text-align: left;
}


/* section5 */

#section5 {
    padding-bottom: 40%;
    padding: 5%;
    background-color: #b13362;
    text-align: center;
}

#section5 h1 {
    color: #fff;
}

#section5 p {
    font-size: 2vw;
}

#section5 table, tr, th {
    color: #ffffff;
    font-size: 2vw;
    border-style: dotted;
    text-align: center;
}


/* section6 */

#section6 {
    background-color: #de9b2b;
}

#section6 h1 {
    opacity: 0.8;
    color: #fff;
}

#section6 p {
    font-size: 48px;
    font-size: 5vw;
    display: inline-block;
    float: left;
    padding-top: 20px;
    width: 50%;
}

#section6 li {
    font-size: 72px;
    font-size: 6vw;
    display: none;
}

#section6 .active {
    display: inline;
}


/* section7 */

#section7 {
    padding: 10%;
    background-color: #e7ebee;
    text-align: left;
    position: relative;
		font-size: 2vw;
		color: black;
}

#section7 p{
	font-size: 1.5vw;
}
#section7 .testR {
	width: 45%;
	float: right;
	padding-top: 8vh;
	padding-left: 100vw;
}

#section7 th {
    color: black;
    font-size: 1.5vw;
    border-style: dotted;
    border-radius: 0.8vw;
    border-color: black;
    text-align: center;
}
